2022-03-28 13:19:31.219  INFO 3908 --- [restartedMain] com.xjh.GameStoryApplication             : Starting GameStoryApplication using Java 1.8.0_321 on DESKTOP-HTL098J with PID 3908 (C:\Project\game-story\target\classes started by 123 in C:\Project\game-story)
2022-03-28 13:19:31.234  INFO 3908 --- [restartedMain] com.xjh.GameStoryApplication             : No active profile set, falling back to default profiles: default
2022-03-28 13:19:31.281  INFO 3908 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : Devtools property defaults active! Set 'spring.devtools.add-properties' to 'false' to disable
2022-03-28 13:19:31.281  INFO 3908 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : For additional web related logging consider setting the 'logging.level.web' property to 'DEBUG'
2022-03-28 13:19:32.453  INFO 3908 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): 8080 (http)
2022-03-28 13:19:32.469  INFO 3908 --- [restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2022-03-28 13:19:32.469  INFO 3908 --- [restartedMain] org.apache.catalina.core.StandardEngine  : Starting Servlet engine: [Apache Tomcat/9.0.56]
2022-03-28 13:19:32.531  INFO 3908 --- [restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2022-03-28 13:19:32.531  INFO 3908 --- [restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1250 ms
2022-03-28 13:19:33.658  INFO 3908 --- [restartedMain] o.s.b.a.w.s.WelcomePageHandlerMapping    : Adding welcome page template: index
2022-03-28 13:19:33.986  INFO 3908 --- [restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
2022-03-28 13:19:34.017  INFO 3908 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 8080 (http) with context path ''
2022-03-28 13:19:34.033  INFO 3908 --- [restartedMain] com.xjh.GameStoryApplication             : Started GameStoryApplication in 3.219 seconds (JVM running for 4.622)
